<BsNavbar
  @type={{type}}
  @backgroundColor={{bg}}
  @collapsed={{collapsed}}
  onCollapse={{action (mut collapsed) true}}
  onExpand={{action (mut collapsed) false}} as |navbar|
>

  <div class="navbar-header">
    <navbar.toggle />
    {{#link-to "index" class="navbar-brand"}}CB DB{{/link-to}}
  </div>

  <navbar.content>
    {{#navbar.nav as |nav|}}
      <Nav.Item>
        {{#nav.link-to "index"}} Home {{/nav.link-to}}
      </Nav.Item>
      <Nav.Item>
        {{#nav.link-to "courses"}} Courses {{/nav.link-to}}
      </Nav.Item>
      <Nav.Item>
        {{#nav.link-to "centers"}} Centers {{/nav.link-to}}
      </Nav.Item>
      <Nav.Item>
        {{#nav.link-to "batches"}} Batches {{/nav.link-to}}
      </Nav.Item>
      <Nav.Item>
        {{#nav.link-to "teachers"}} Teachers {{/nav.link-to}}
      </Nav.Item>

    {{/navbar.nav}}
  </navbar.content>
</BsNavbar>
